@{
    ViewData["Title"] = "Pocket PCS";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pocket PCS</h1>

    <p>Are you stressed because of an upcoming Permanent Change of Station (PCS)?</p>
    <p>Pocket PCS will help guide your way. Just enter your current base, and enter the base you are going to: </p>
    <p>Pocket PCS will do the rest of the work for you.</p>



</div>
