@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Pocket PCS collects data to process locations and routes for your move. <br />
    It also processes your user comments and maintains a profile for you. You may delete your profile at any time with no penalty.</p><br />

<p>We will not sell your data to anybody!</p>
