<<<<<<< HEAD
﻿@using pcsHackathon2019.Models
@model Move
=======
@using pcsHackathon2019.Models
@model Budget
>>>>>>> ababbed... additionalCost
@{
    ViewData["Title"] = "Your Trip Results";
}

<h1>Your Trip Results</h1>
<<<<<<< Updated upstream
=======
@{ 
}
>>>>>>> Stashed changes


<h2>Your total allowances are: </h2>
@{ 
    Console.WriteLine(Model.Budget.AllowanceTotal);

}

<h2>Your total budget is: </h2>

@{ 
    Console.WriteLine(Model.Budget.ExpenseTotal);
}


<h2>The difference is: </h2>
@{ 
    double delta;

    delta = (Model.Budget.ExpenseTotal - Model.Budget.AllowanceTotal);
}

@{ 
    if (delta > 0)
    {
        Console.WriteLine("Your remaining funds are: {0}", delta);
    }

    else
    {
        Console.WriteLine("You've overspent by: {0}", delta);
    }
}